@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  background: #fff;
  -webkit-tap-highlight-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

input[type=file],
input[type=file]::-webkit-file-upload-button {
  cursor: pointer;
}

svg {
  pointer-events: none;
}